<section class="mat-typography" *ngIf="title!='Add remote platforms via AMS'">
  <h2>{{title}} agent</h2>
</section>
<section class="mat-typography" *ngIf="title=='Add remote platforms via AMS'">
  <h2>{{title}}</h2>
</section>

<mat-list role="list">
  <mat-list-item role="listitem" *ngIf="title=='Clone'">
    <form>
      <mat-form-field>
        <input matInput type="text" placeholder="Agent new name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </form>
  </mat-list-item>
  <mat-list-item role="listitem" *ngIf="title=='Clone'">
    <form>
      <mat-form-field>
        <input matInput type="text" placeholder="Container" [(ngModel)]="cont" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </form>
  </mat-list-item>
  <mat-list-item role="listitem" *ngIf="title=='Migrate'">
    <form>
      <mat-form-field>
        <input matInput type="text" placeholder="Container" [(ngModel)]="cont" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </form>
  </mat-list-item>
  <mat-list-item role="listitem" *ngIf="title=='Thaw'">
    <form>
      <mat-form-field>
        <input matInput type="text" placeholder="Container" [(ngModel)]="cont" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </form>
  </mat-list-item>
  <mat-list-item role="listitem" *ngIf="title=='Add remote platforms via AMS'">
    <form>
      <mat-form-field>
        <input matInput type="text" placeholder="Address" [(ngModel)]="addr" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </form>
  </mat-list-item>
</mat-list>

<button mat-button (click)="send()">OK</button>
<button mat-button (click)="cancel()">Cancel</button>