
.drawer{
    height: 100vh;
    background-color: white;
    overflow: hidden;
}
button{
    padding-left: 6px;
    padding-right: 6px;
    min-width: 0px;
    margin: 0 6px;
}
/deep/ mat-drawer-content.mat-drawer-content {
    overflow: unset !important;
}
mat-toolbar button{
    background-color: rgb(92, 116, 221);
    color: white;
}
div{
    font-family: 'Roboto', monospace;
}



.split-grid{
    display: grid;
    /* min-height: calc(100vh - 64px); */
    max-height: calc(100vh - 68px);
    overflow: hidden;
    padding: 0;
    grid-gap: 4px;
    grid-template: 
    "tree view" min-content
    "tree view" 1fr
        / min-content 1fr;
        
}
.tree{
    grid-area: tree;
    border-right: 1px solid transparent;
    overflow: auto;
    resize: horizontal;
    max-height: calc(100vh - 68px);
    min-width: 590px;
    max-width: 70vw;
}
.view{
    float: right;
    grid-area: view;
    overflow: auto;
    min-height: calc(100vh - 68px);
    max-height: calc(100vh - 68px);
}
router-outlet{
    display: none;
}
