<mat-accordion>
     <mat-expansion-panel>
          <mat-expansion-panel-header>
               <mat-panel-title>
                    File
               </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Close RMA agent</p>
          <p>Exit this container</p>
          <p>Shut down AgentPlatform</p>
     </mat-expansion-panel>
     <mat-expansion-panel>
          <mat-expansion-panel-header>
               <mat-panel-title>
                    Actions
               </mat-panel-title>
          </mat-expansion-panel-header>
          <p (click)="startDialog()">Start new agent</p>
          <p (click)="securityDialog('kill')">Kill</p>
          <p (click)="securityDialog('suspend')">Suspend</p>
          <p (click)="securityDialog('resume')">Resume</p>
          <!-- <p (click)="messageDialog()">Send message</p> -->
          <p (click)="cloneDialog('Migrate')">Migrate agent</p>
          <p (click)="cloneDialog('Clone')">Clone agent</p>
          <p>Load agent</p>
          <p>Save agent</p>
          <p>Freeze agent</p>
          <p>Thaw agent</p>
     </mat-expansion-panel>
     <mat-expansion-panel>
          <mat-expansion-panel-header>
               <mat-panel-title>
                    Tools
               </mat-panel-title>
          </mat-expansion-panel-header>
          <p routerLink="/sniffer">Start sniffer</p>
          <p>Start dummy agent</p>
          <p>Show the DF GUI</p>
          <p routerLink="/introspector">Start introspector agent</p>
          <p routerLink="/logmanager">Start log manager agent</p>
     </mat-expansion-panel>
     <mat-expansion-panel>
          <mat-expansion-panel-header>
               <mat-panel-title>
                    Remote Platforms
               </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Add platform via AMS AID</p>
          <p>Add platform via URL</p>
          <p>View AP description</p>
          <p>Refresh AP description</p>
          <p>Remove remote platform</p>
          <p>Refresh agent list</p>
     </mat-expansion-panel>
     <mat-expansion-panel>
          <mat-expansion-panel-header>
               <mat-panel-title>
                    Help
               </mat-panel-title>
          </mat-expansion-panel-header>
          <p>About Jade</p>
     </mat-expansion-panel>
</mat-accordion>