.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  .example-tree-node {
    display: block;
  }
  
  .example-tree-node .example-tree-node {
    padding-left: 40px;
  }

  .example-tree-progress-bar {
    margin-left: 30px;
  }
  
  .example-tree-nested-node {
    padding-left: 30px;
  }

  .notExpandibleParent{
    display: table;
    padding-left: 40px;
  }

  .notExpandible{
      display: table-cell;
      vertical-align: middle;
  }

  .expandible{
      padding: 5px 6px;
      margin-top: 15px;
  }

  /deep/ app-tree.tree{
      padding-top: 10px;
  }

  /* span:focus{
      outline: none;
  } */
  span{
      cursor: pointer;
      border: 5px solid transparent;
      padding: 0 14px;
  }
  .focusClass{
    background-color: rgb(92, 116, 221);
    color: white;
  }