mat-toolbar{
    position: absolute;
    top: 0;
}
button{
    padding-left: 6px;
    padding-right: 6px;
    min-width: 0px;
    margin: 0 6px;
}
mat-toolbar button{
    background-color: rgb(92, 116, 221);
    color: white;
}
#close{
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
}


#other{
    border: 3px solid black;
}
.sniffed{
    padding: 8px;
    background-color: gray;
    color: white;
    margin: 12px;
    display: inline-flex;
    border: 3px solid deeppink;
}
.showed{
    padding: 8px;
    background-color: gray;
    color: white;
    margin: 12px;
    display: inline-flex;
    border: 3px solid orange;
}



.dummyControl{
    width: 40%;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    min-height: 800px;
    margin-top: 10px;
}
.msgOption{
    display: inline-block;
    width: 100%;
}
.msgOption mat-form-field{
    width: 90%;
}
.dummyMessages{
    width: calc(55%);
    float: right;
    border: 1px solid black;
    display: inline-block;
    min-height: 800px;
    margin-top: 10px;
}
.dualSelector{
    display: inline;
    border: 1px solid gray;
    text-align: center;
    padding: 0 6px;
}



.introspectorGrid{
    display: grid;
    grid-template-areas:
      'in in in out out out'
      'st be be be  be  be';
    grid-gap: 10px;
    min-height: 800px;
}
.intrGridElement{
    border: 2px solid gray;
}
#item1{
    text-align: center;
    grid-area: in;
}
#item2{
    text-align: center;
    grid-area: out;
}
#item3{
    text-align: center;
    grid-area: st;
}
#item4{
    text-align: center;
    grid-area: be;
}



.logtable{
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-style: normal;
    text-align: left;
}
.logtable tr:nth-child(even){
    background-color: #a0c6ff42;
}