mat-toolbar{
    position: absolute;
    top: 0;
}
button{
    padding-left: 6px;
    padding-right: 6px;
    min-width: 0px;
    margin: 0 6px;
}
mat-toolbar button{
    background-color: rgb(92, 116, 221);
    color: white;
}
#close{
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
}
#wrapper{
    overflow: hidden;
}

.rounded{
    border-radius: 16px;
    box-shadow: 0 0 14px #53596165;
    margin: 2.5% 4%;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    border-radius: 16px;
    background-color: rgb(238, 238, 238);
}
::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: rgb(123, 140, 216);
}


#other{
    border: 3px solid black;
}
.sniffed{
    padding: 8px;
    background-color: gray;
    color: white;
    margin: 12px;
    display: inline-flex;
    border: 3px solid deeppink;
}
.showed{
    padding: 8px;
    background-color: gray;
    color: white;
    margin: 12px;
    display: inline-flex;
    border: 3px solid orange;
}
#snifftable{
    max-height: 70vh;
    overflow-y: scroll;
}



.dummyControl{
    width: 100%;
    /* border: 1px solid black; */
    display: block;
    text-align: center;
    padding: 4px;
}
#dummyInput{
    display: grid;
    grid-template-columns: 50% 50%;
}
#dummyInput mat-form-field{
    width: 50%;
    margin: 2.5% 25%;
    text-align: center;
}
#dummytable{
    max-height: 18vh;
    overflow-y: scroll;
}
.dualSelector{
    display: inline;
    border: 1px solid gray;
    text-align: center;
    padding: 0 6px;
}

.example-tree-invisible {
    display: none;
}
.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 4px;
    list-style-type: none;
}
.example-tree-node {
    display: block;
}

.example-tree-node .example-tree-node {
    padding-left: 40px;
}
.example-tree-progress-bar {
    margin-left: 30px;
}

.example-tree-nested-node {
    padding-left: 30px;
}
span{
    cursor: pointer;
    border: 5px solid transparent;
    padding-right: 8px;
}
.focusClass{
    background-color: rgb(92, 116, 221);
    color: white;
}
#behaviour-tree{
    max-height: 16vh;
    overflow-y: scroll;
}
#incoming{
    max-height: 18vh;
    overflow-y: scroll;
}
#outgoing{
    max-height: 18vh;
    overflow-y: scroll;
}


.logtable{
    display: block;
    margin: 2.5% 4%;
    font-family: inherit;
    font-size: inherit;
    font-style: normal;
    text-align: left;
    padding: 4px;
    border-radius: 16px;
    box-shadow: 0 0 14px #53596165;
}
.logtable tbody{
    display: block;
    width: 100%;
}
.logtable tr:nth-child(even){
    background-color: #a0c6ff42;
}
.logtable th{
    margin: 4px;
}
.logtable td{
    margin: 4px;
}
#logtable{
    max-height: 80vh;
    overflow-y: scroll;
}