
<div id="wrapper">
    <mat-toolbar>
        <button mat-button routerLink="/" id="close">Close</button>

        <span *ngIf="isSniffer">
            <button mat-button (click)="clear()">Clear</button>
            <!-- <button mat-button>Open</button>
            <button mat-button>Save</button>
            <button mat-button>Write</button> -->
            <button mat-button (click)="addSniffed()">Do Sniff</button>
            <button mat-button (click)="removeSniffed()">Don't Sniff</button>
            <!-- <button mat-button (click)="addShowed()">Show only</button> -->
        </span>

        <span *ngIf="isLog">
            <!-- <button mat-button>Set default logging</button> -->
            <button mat-button (click)="startLog()">Start log</button>
            <!-- <button mat-button>Stop log</button> -->
        </span>

        <span *ngIf="isDummy">
            <!-- <button mat-button>Reset</button> -->
            <button mat-button (click)="sendDummy()">Send</button>
            <!-- <button mat-button>Open</button>
            <button mat-button>Save</button>
            <button mat-button>Open queue</button>
            <button mat-button>Save queue</button>
            <button mat-button>Set as current</button>
            <button mat-button>Reply</button>
            <button mat-button>View</button>
            <button mat-button>Delete</button> -->
        </span>

        <span *ngIf="isIntrospector">
            <button mat-button (click)="debugOn()">Debug On</button>
            <button mat-button (click)="debugOff()">Debug Off</button>
            <!-- <button mat-button>Step</button>
            <button mat-button>Break</button>
            <button mat-button>Slow</button>
            <button mat-button>Go</button> -->
        </span>

                

    </mat-toolbar>
    <div *ngIf="isSniffer">
        <div class="sniffed" id="other">
            Other
        </div>
        <div class="sniffed" *ngFor="let agent of sniffed">
            {{agent}}
        </div>
        <div class="showed" *ngFor="let agent of showed">
            {{agent}}
        </div>
        <table class="logtable" id="snifftable">
            <tr>
                <th> Sender </th>
                <th> Type </th>
                <th> Receiver </th>
                <th> Content </th>
            </tr>
            <tr *ngFor="let m of snifferMsgList">
                <th> {{ m.sender }} </th>
                <th> {{ m.type }} </th>
                <th> {{ m.receiver }} </th>
                <th> {{ m.content }} </th>
            </tr>
        </table>
    </div>

    <div *ngIf="isDummy">
        <div class="dummyControl">
            <!-- <div class="dualSelector">
                ACL Message
            </div>
            <div class="dualSelector">
                Envelope
            </div> -->
            <div class="rounded" id="dummyInput">
                <form>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Sender" [(ngModel)]="sender"
                        [ngModelOptions]="{standalone: true}" required=true>
                    </mat-form-field>
                </form>
                <form>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Receiver" [(ngModel)]="receiver"
                        [ngModelOptions]="{standalone: true}" required=false>
                    </mat-form-field>
                </form>
                <mat-form-field>
                    <mat-label>Communication type</mat-label>
                    <mat-select [(value)]="commtype">
                        <mat-option value=0>Accept proposal</mat-option>
                        <mat-option value=1>Agree</mat-option>
                        <mat-option value=2>Cancel</mat-option>
                        <mat-option value=3>Cfp</mat-option>
                        <mat-option value=4>Confirm</mat-option>
                        <mat-option value=5>Disconfirm</mat-option>
                        <mat-option value=6>Failure</mat-option>
                        <mat-option value=7>Inform</mat-option>
                        <mat-option value=8>Inform if</mat-option>
                        <mat-option value=9>Inform ref</mat-option>
                        <mat-option value=10>Not undersood</mat-option>
                        <mat-option value=11>Purpose</mat-option>
                        <mat-option value=12>Query if</mat-option>
                        <mat-option value=13>Query ref</mat-option>
                        <mat-option value=14>Refuse</mat-option>
                        <mat-option value=15>Reject proposal</mat-option>
                        <mat-option value=16>Request</mat-option>
                        <mat-option value=17>Request when</mat-option>
                        <mat-option value=18>Request whenever</mat-option>
                        <mat-option value=19>Subscribe</mat-option>
                        <mat-option value=20>Proxy</mat-option>
                        <mat-option value=21>Propagate</mat-option>
                    </mat-select>
                </mat-form-field>
                <form>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Content" [(ngModel)]="content"
                        [ngModelOptions]="{standalone: true}" required=false>
                    </mat-form-field>
                </form>
                <form>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Language" [(ngModel)]="language"
                        [ngModelOptions]="{standalone: true}" required=false>
                    </mat-form-field>
                </form>
                <form>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Encoding" [(ngModel)]="encoding"
                        [ngModelOptions]="{standalone: true}" required=false>
                    </mat-form-field>
                </form>
                <form>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Ontology" [(ngModel)]="ontology"
                        [ngModelOptions]="{standalone: true}" required=false>
                    </mat-form-field>
                </form>
                <mat-form-field>
                    <mat-label>Protocol</mat-label>
                    <mat-select [(value)]="protocol">
                        <mat-option value="Null">Null</mat-option>
                        <mat-option value="fipa-auction-english">Fipa-auction-english</mat-option>
                        <mat-option value="fipa-auction-dutch">Fipa-auction-dutch</mat-option>
                        <mat-option value="fipa-contract-net">Fipa-contract-net</mat-option>
                        <mat-option value="fipa-iterated-contract-net">Fipa-iterated-contract-net</mat-option>
                        <mat-option value="fipa-query">Fipa-query</mat-option>
                        <mat-option value="fipa-request">Fipa-request</mat-option>
                        <mat-option value="fipa-request-when">Fipa-request-when</mat-option>
                        <mat-option value="fipa-purpose">Fipa-purpose</mat-option>
                        <mat-option value="ADD USER-DEF PROTOCOL">Add user-def protocol</mat-option>
                    </mat-select>
                </mat-form-field>
                <form>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Conversation" [(ngModel)]="conversation"
                        [ngModelOptions]="{standalone: true}" required=false>
                    </mat-form-field>
                </form>
                <form>
                    <mat-form-field>
                        <input matInput type="text" placeholder="In reply to" [(ngModel)]="repto"
                        [ngModelOptions]="{standalone: true}" required=false>
                    </mat-form-field>
                </form>
                <form>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Reply with" [(ngModel)]="repw"
                        [ngModelOptions]="{standalone: true}" required=false>
                    </mat-form-field>
                </form>
            </div>
        </div>
        <table class="logtable" id="dummytable">
            <tr>
                <th> Sender </th>
                <th> Type </th>
                <th> Receiver </th>
                <th> Content </th>
            </tr>
            <tr *ngFor="let m of dummyMsgList">
                <th> {{ m.sender }} </th>
                <th> {{ m.type }} </th>
                <th> {{ m.receiver }} </th>
                <th> {{ m.content }} </th>
            </tr>
        </table>
    </div>
        
    <div *ngIf="isLog">
        <table class="logtable" id="logtable">
            <tr>
                <th> Name </th>
                <th> Level </th>
            </tr>
            <tr *ngFor="let l of logs">
                <td> {{ l.name }} </td>
                <td> {{ l.level }} </td>
            </tr>
        </table>
    </div>

    <div *ngIf="isIntrospector">
        <div *ngIf="debugging" class="rounded">
            Current State of {{ debugged }}
            <p>{{ state }}</p>
        </div>
        <div class="rounded" id="behaviour-tree">
            Behaviours
            <cdk-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
                <!-- This is the tree node template for leaf nodes -->
                <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="example-tree-node">
                    <!-- use a disabled button to provide padding for tree leaf -->
                    <button mat-icon-button disabled *ngIf='node.name;else other_content'></button>
                    <span tabindex="1" (click)="focus(node.name)" [ngClass]="{focusClass: selected == node.name}">
                        {{node.name}}
                    </span>
                    <!-- <ng-template #other_content>Qui se non esiste il nome della cartella ma solo gli agenti</ng-template> -->
                    <!-- {{node.agents.name}} -->
                </cdk-nested-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                
            
            
                <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="example-tree-node">
                    <button mat-icon-button [attr.aria-label]="'toggle ' + node.name" cdkTreeNodeToggle>
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    <span tabindex="1" (click)="focus(node.name)" [ngClass]="{focusClass: selected == node.name}">
                        {{node.name}}
                    </span>
                    <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                        <ng-container cdkTreeNodeOutlet></ng-container>
                    </div>
                </cdk-nested-tree-node>
            </cdk-tree>
        </div>
        <div *ngIf="detail" class="rounded">
            <p>Behaviour details</p>
            <ul>
                <li>Name: {{ selected }}</li>
                <li>Class: {{ class }}</li>
                <li>Kind: {{ kind }}</li>
            </ul>
        </div>
        <!-- <div class="intrGridElement" id="item1"> -->
            <!-- <p>Incoming Messages</p> -->
            <!-- <div class="dualSelector">
                Pending
            </div>
            <div class="dualSelector">
                Received
            </div> -->
            <table class="logtable" id="incoming">
                <p>Incoming Messages </p>
                <tr>
                    <th> Sender </th>
                    <th> Type </th>
                    <th> Receiver </th>
                    <th> Content </th>
                </tr>
                <tr *ngFor="let m of receivedMsgList">
                    <td> {{ m.sender }} </td>
                    <td> {{ m.type }} </td>
                    <td> {{ m.receiver }} </td>
                    <td> {{ m.content }} </td>
                </tr>
            </table>
        <!-- </div> -->
        <!-- <div class="intrGridElement" id="item2"> -->
            <!-- <p>Outgoing Messages</p> -->
            <!-- <div class="dualSelector">
                Pending
            </div>
            <div class="dualSelector">
                Received
            </div> -->
            <table class="logtable" id="outgoing">
                <p>Outgoing Messages</p>
                <tr>
                    <th> Sender </th>
                    <th> Type </th>
                    <th> Receiver </th>
                    <th> Content </th>
                </tr>
                <tr *ngFor="let m of sentMsgList">
                    <td> {{ m.sender }} </td>
                    <td> {{ m.type }} </td>
                    <td> {{ m.receiver }} </td>
                    <td> {{ m.content }} </td>
                </tr>
            </table>
        <!-- </div> -->
    </div>
</div>

